* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.news-img {
    width: 100%;
}

.news-img img {
    max-width: 100%;
}

.news-icon {
    font-size: 20px;
}

.news-box h4 {
    font-size: 18px;
}

.card1 {
    top: 30px;
    left: 30px;
    background: rgba(249, 249, 252, 0.322);    
}

.card img {
    background: rgba(174, 215, 240, 0.658);
}

.news-box {
    background: rgba(174, 215, 240, 0.658);
}

p {
    color: #b0afae;
}













